@tailwind base;
@tailwind components;
@tailwind utilities;

label {
  @apply text-text text-xs;
}

.input {
  @apply border-b-2 border-text px-2 py-1 text-sm bg-transparent w-full;
}

.active {
  @apply bg-primary shadow-secondary shadow text-white font-semibold px-3 py-2 rounded;
}
